<div class="panel panel-primary" *ngIf="hero">
    <div class="panel-heading">{{ hero.name | uppercase }} Details</div>
  <div class="panel-body">
    <div class="input-group">
      <span class="input-group-addon">ID</span>
      <div class="form-control">
        <p>{{hero.id}}</p>
      </div>
    </div>

    <div class="input-group">
      <span class="input-group-addon">Name</span>
      <input class="form-control" [(ngModel)]="hero.name" placeholder="name"/>
    </div>

    <button class="btn btn-success" (click)="goBack()">go back</button>
    <button class="btn btn-primary" (click)="save()">save</button>
  </div>
</div>

