<div *ngFor = "let user of users" class="alert alert-info" role="alert">
  Users from secure api end point:
  {{user.firstName}} {{user.lastName}}
</div>
<h3>Top Heroes</h3>
<div class="row">
  <div *ngFor="let hero of heroes" class="col-md-3 col-xs-6">
    <div  class="thumbnail">
      <img data-src="holder.js/100%x200">
      <div class="caption">
        <h4>{{hero.name}}</h4>
        <p><a class="btn btn-primary" routerLink="/detail/{{hero.id}}">View</a></p>
      </div>
    </div>
  </div>
</div>
