<div class="col-sm-3 col-md-3 pull-right hidden-xs hidden-sm">
  <form class="navbar-form">
    <div class="dropdown">
      <input class="form-control" #searchBox id="search-box" (keyup)="search(searchBox.value)" data-toggle="dropdown" aria-haspopup="true"/>
      <span class="glyphicon glyphicon-search form-control-feedback"></span>
      <ul class="dropdown-menu">
        <li class="dropdown-header">Search Result</li>
        <li *ngFor="let hero of heroes$ | async">
          <a  routerLink="/detail/{{hero.id}}">{{hero.name}}</a>
        </li>
      </ul>
    </div>
  </form>
</div>

